<mat-card [@fadeInOut] class="main-data-card">
    <mat-card-header>
        <span>        
        <mat-card-title>
            <span class="header">New test </span>
        </mat-card-title>
      </span> 
        <span class="spacer"></span>
        <span>        
            <mat-card-title>
               <a mat-raised-button color="primary" routerLink="/categories/{{catId}}/tests" >Back</a>
            </mat-card-title>
          </span> 
        
        <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
    </mat-card-header>
<div class="form-container">
  <mat-form-field>
    <input  [(ngModel)]="exam.name" matInput placeholder="Name" required>
  </mat-form-field>

  <mat-form-field>
    <textarea [(ngModel)]="exam.description" matInput placeholder="Description"></textarea>
  </mat-form-field>
  <div *ngFor="let item of exam.questions">
    question: {{ item.text}}
  </div>
  <!-- <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field> -->
  
  <button mat-raised-button (click)="AddNewQuestion()" color="primary">new questions</button>
  <button mat-raised-button (click)="AddTest()" color="primary">Add</button>
</div>
</mat-card>
