.question-menu {
    visibility: hidden;
    opacity: 0.1;    
    transition: 0.1s all linear; 
}
.question-card:hover .question-menu {
    visibility: visible;
    opacity: 1;    
    transition: 0.1s all linear; 
}

.question-header {
  font-size: larger;
}

.question-input {
  font-weight: bold;
  font-size: large;
}

.mat-table {
    display: block;
  }
  
  .mat-row,
  .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    min-height: 48px;
    padding: 0 24px;
  }
  
  .mat-cell,
  .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
  }