<div id="app_container" class="{{configurations.theme | lowercase}}-theme">
  <ngx-toasta></ngx-toasta>
  <mat-toolbar color="primary">
    <button mat-button routerLink="/categories" color="">
      <mat-icon class="mat-18">school</mat-icon>
      <span> {{ 'categories' | translate }}</span>
    </button>
    <span class="spacer"></span>
    <mat-form-field class="" *ngIf="this.currentRoute === '/categories'">
      <mat-icon class="">search</mat-icon>
      <input matInput [(ngModel)]="searchValue" (input)="onSearch($event.target.value)">
    </mat-form-field>

    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="langSelector" matTooltip="{{ 'language' | translate }}">
      <mat-icon class="mat-18">language</mat-icon> {{ selectedLanguage | uppercase }}

    </button>
    <mat-menu #langSelector="matMenu" x-position="after" y-position="below" [overlapTrigger]="false">
      <button mat-menu-item (click)="changeLanguage('sk')">
        SK
      </button>
      <button mat-menu-item (click)="changeLanguage('cz')">
        CZ
      </button>
      <button mat-menu-item (click)="changeLanguage('en')">
        EN
      </button>
    </mat-menu>
    <button mat-button routerLink="/about" color="">
      <mat-icon class="mat-18">info</mat-icon>
      <span> {{'about' | translate}}</span>
    </button>
  </mat-toolbar>
  <div id="mainContent" class="app-component">
    <router-outlet></router-outlet>
  </div>


</div>
