<div class="container">
    <header class="pageHeader">
        <h3>Informacie o  stranke VSB portal</h3>
    </header>

    <div [@fadeInOut]>
        <div class="row">
            <div class="col-md-9">
                <p>Tato aplikacia sluzi na pomoc studentov VSB. Autor stranky nezodpoveda za nahrate subry a porusenie autorskych prav. 
                    Ak sa na stranke nachadza nejaky nevhodny obsah, kontaktujte administratora. </p>
            </div>
            <div class="col-md-3 contact-us">
                <h4>Kontakt</h4>
                <p><span title="Drop me a mail" class="fa fa-envelope fa-fw"></span> <a class="black-anchor" href="mailto:falat.mich@gmail.com">falat.mich@gmail.com</a></p>
            </div>
        </div>

       
     

    </div>
</div>
