
<div layout-fill layout="column" layout-align="center none">
  <div layout="row" layout-align="center none">

<mat-card class="main-data-card">
    <mat-card-header>
        <span>        
        <mat-card-title>
            <span class="header">Categories </span>
        </mat-card-title>
      </span> 
        <span class="spacer"></span>
        <span>        
            <mat-card-title>
               <a mat-raised-button color="primary" routerLink="/categories/add" >Add new category</a>
            </mat-card-title>
          </span> 
        
        <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img matCardImage src="Card wide image source"> -->
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let item of data">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item.name}}  <span class="small-text">({{item.description}})</span>
            </mat-panel-title>
            <mat-panel-description>
              {{item.description}}
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          test
        </mat-expansion-panel> 
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions align="start">
        <!-- <button mat-button >Action1</button> -->
        
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>


</div>
</div>
