<mat-card>
  <mat-card-title>Add new category</mat-card-title>
<div class="form-container">
  <mat-form-field>
    <input  [(ngModel)]="addModel.name" matInput placeholder="Name" required>
  </mat-form-field>

  <mat-form-field>
    <textarea [(ngModel)]="addModel.description" matInput placeholder="Description"></textarea>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field> -->
  <button mat-raised-button (click)="AddCategory()" color="primary">Add</button>
</div>
</mat-card>
