

@media (min-width: 768px) {
    .login-container {
        width: 700px;
    }
}


@media (min-width: 1200px) {
    .login-container {
        width: 730px;
    }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
